[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "2.0.2"
Flask-Login = "0.5.0"
Flask-WTF = "1.0.0"
Gunicorn = "20.1.0"
crossplane = "0.5.7"

[dev-packages]

[requires]
python_version = "3"
