[Unit]
Description=Gunicorn instance to serve app backend
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/pi/app
ExecStart=/usr/local/bin/pipenv run gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
